html {
  font-size: 62.5%;
  color: $off-white;
  font-family: $main-font;
  min-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(
    to bottom,
    #1e063c,
    #1c0743,
    #18094b,
    #110b53,
    #020d5b
  );
}

.mainTitle {
  font-size: $l-size;
  margin: $s-size 0 $m-size 0;
}

.container {
  max-width: 60rem;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 $m-size;
}

.infoText {
  font-size: $m-size;
  outline: none;
  font-weight: 400;
  margin-bottom: $m-size;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
